
/*Login-fönstret*/

.form-container {
display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: hsl(0, 41%, 69%);
    margin: 100px auto;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 25px;
}
.form-container label {
    margin-bottom: 5px;
    font-weight: bold;
}
.form-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.btn-login {
    padding: 20px 10px;
    background-color: hsl(0, 3%, 47%);
    border: solid #ccc 1px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/*Welcome-fönstret*/

.hidden {
    /* display: none; */
}

.btn-logout {
    padding: 20px 10px;
    background-color: hsl(0, 3%, 47%);
    border: solid #ccc 1px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
